
{% extends 'naver_oauth/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}<title>로그인</title>{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style>
    .login, .user-panel {
        width: 500px;
        margin: 0 auto;
    }
    p {
        text-align: center;
    }
    label {
        width: 100%;
        text-align: left;
    }
    .form-action {
        text-align: center;
    }
</style>
{% endblock css %}

{% block content %}

{% include 'naver_oauth/partials/social_login_panel.html' with panel_name='소셜로그인' %}

<div class="panel panel-default login">
    <div class="panel-heading">
        로그인하기
    </div>
    <div class="panel-body">
        {% comment %} <form action="/boardmini/user/login/" method="post">
            {% csrf_token %}
            {% include 'naver_oauth/partials/form_field.html' with form=form %}
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">로그인하기</button>
            </div>
            <a href="/boardmini/user/resend_verify_email/">
                <div class="link-below-button">인증이메일 재발송</div>
            </a>
        </form> {% endcomment %}
        <button class="btn btn-primary btn-large" type="button" onclick="location.href='/boardmini/user/login/' ">로그인하기</button>        
        <a href="/boardmini/user/resend_verify_email/">
            <div class="link-below-button">인증이메일 재발송</div>
        </a>
    </div>
</div>
{% endblock content %}