<!DOCTYPE html>
<html lang="ko">
    <head>
        {% block title %}
        <title>bbs - minitutorial</title>
        {% endblock title %}

        {% block meta %}
        {% endblock meta %}

        {% block scripts %}
        {% endblock scripts %}

        {% block css %}
        {% endblock css %}
    </head>
    <body>
    {% block header %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/boardmini/article/">게시글 목록</a>
                </div>
            </div>
        </nav>
        {% if messages %}                            <!-- message 프레임워크 -->

        <!-- messages 객체는 iterable 객체이기 때문에 for-in 루프로 반복출력해야 합니다 -->
        <!-- message 그 자체를 출력해도 되고 message.tags 또는 message.level를 이용하셔도 됩니다. 
        message.level은 message를 저장할 때 사용하는 그 레벨이 출력이 되고, 
        tags는 extra_tags와 message.level의 조합입니다. 
        이 예제에서는 message.tags를 이용했는데 extra_tags를 전달하지 않았기 때문에 level값만 출력이 됩니다. -->

            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endblock header %}
    
    {% block content %}
    {% endblock content %}
    </body>
</html>